@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Fraunces:wght@700;900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary-red: hsl(7, 99%, 70%);
    --clr-primary-yellow: hsl(51, 100%, 49%);
    --clr-primary-450: hsla(168, 34%, 41%, 0.5);
    --clr-primary-500: hsl(168, 34%, 41%);
    --clr-primary-600: hsl(167, 40%, 24%);
    --clr-primary-650: hsl(198, 62%, 26%);

    --clr-neutral-800: hsl(212, 27%, 19%);
    --clr-neutral-600: hsl(213, 9%, 39%);
    --clr-neutral-500: hsl(232, 10%, 55%);
    --clr-neutral-400: hsl(210, 4%, 67%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    
    --hover-contact: hsla(0, 0%, 100%, 0.4);

    --p1: 1.5rem;
    --p2: 3.5rem 1.5rem;
    --p3: clamp(400px, 100vw, 700px) 1.5rem 2.5rem;
    --p4: 4rem 1.5rem 2rem;

    --fw-700: 700;
    --fw-800: 900;

    --fs-300: 1rem;
    --fs-400: 1.25rem;
    --fs-500: 1.5rem;
    --fs-600: 2rem;
    --fs-700: 3rem;

    --bg-size: 70vh;
    --img-height: 300px;
}

body {
    font-family: 'Barlow', sans-serif;

    h1,h2,h3 {
        font-family: 'Fraunces', sans-serif;
    }

    a,button {
        -webkit-tap-highlight-color: transparent;
    }

    img {
        width: 100%;
    }

    main {
        .hero {
            background-position: center;
            background-size: cover;
            min-height: var(--bg-size);
            padding: var(--p1);
            position: relative;
        }

        .head {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                border: 0;
                background: transparent;
                width: 27px;
                cursor: pointer;
            }

            nav {
                position: absolute;
                background-color: var(--clr-neutral-100);
                width: 85%;
                top: 100px;
                right: 50%;
                padding: var(--p1);
                transform: translate(50%, -20px);
                opacity: 0;
                pointer-events: none;
                transition: transform .3s ease, opacity .3s ease;

                &.shown {
                    transform: translate(50%, 0);
                    opacity: 1;
                    pointer-events: all;
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-right: 30px solid var(--clr-neutral-100);
                    border-top: 40px solid transparent;
                    border-bottom: 40px solid transparent;
                    bottom: 100%;
                    right: 0;
                    transform: translateY(50%);
                }
                
                ul {
                    list-style: none;
                    text-align: center;

                    li {
                        margin: 1.2em 0;

                        &:last-child {
                            margin-top: 2em;
                        }

                        a {
                            color: var(--clr-neutral-500);
                            font-size: var(--fs-500);
                            text-decoration: none;
                        }

                        .contact {
                            font-size: var(--fs-400);
                            text-transform: uppercase;
                            font-family: 'Fraunces', sans-serif;
                            color: var(--clr-neutral-800);
                            background: var(--clr-primary-yellow);
                            padding: .5em .8em;
                            border-radius: 30px;
                        }
                    }
                }
            }
        }

        h1 {
            text-align: center;
            color: var(--clr-neutral-100);
            font-size: var(--fs-700);
            line-height: 1;
            margin: 2em 0;
            text-transform: uppercase;
            font-weight: var(--fw-800);
        }

        .arrow {
            width: 30px;
            margin: auto;
            transform: scaleY(1);
            transform-origin: top;
            animation: arrow 1s ease-in-out infinite alternate-reverse;
        }

        @keyframes arrow {
            0% {
                transform: scaleY(1);
            }

            100% {
                transform: scaleY(1.2);
            }
        }
    }

    .about {
        .container-about {
            img {
                height: var(--img-height);
                object-fit: cover;
                object-position: center;
            }

            .text {
                padding: var(--p2);
                text-align: center;

                h2 {
                    color: var(--clr-neutral-800);
                    font-weight: var(--fw-800);
                    font-size: var(--fs-600);
                    line-height: 1;
                    margin-bottom: .7em;
                }

                p {
                    color: var(--clr-neutral-500);
                    font-size: var(--fs-400);
                    line-height: 1.5;
                }
            }

            a {
                position: relative;
                width: max-content;
                display: inline-block;
                margin-top: 1em;
                font-size: var(--fs-300);
                font-family: 'Fraunces', sans-serif;
                text-decoration: none;
                color: var(--clr-neutral-800);
                font-weight: var(--fw-800);
                text-transform: uppercase;

                &:hover::before {
                    opacity: .8;
                }
            }

            a::before {
                content: '';
                position: absolute;
                width: 105%;
                height: 8px;
                opacity: .4;
                border-radius: 5px;
                top: 70%;
                left: 50%;
                transform: translateX(-50%);
                z-index: -1;
                transition: opacity .2s;
            }
        }

        .container-about:first-child {
            a::before {
                background-color: var(--clr-primary-yellow);
            }
        }

        .container-about:last-child {
            a::before {
                background-color: var(--clr-primary-red);
            }
        }
    }

    .work {
        .container-work:first-child {
            h2,p {
                color: var(--clr-primary-600)
            }
        }

        .container-work:last-child {
            h2,p {
                color: var(--clr-primary-650)
            }
        }

        .container-work {
            padding: var(--p3);
            background-position: center top;
            background-size: cover;
            text-align: center;

            h2 {
                font-weight: var(--fw-700);
                font-size: var(--fs-600);
                margin-bottom: 1em;
            }

            p {
                font-size: var(--fs-400);
            }
        }
    }

    .feedback {
        padding: var(--p4);
        text-align: center;

        h2 {
            color: var(--clr-neutral-400);
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: var(--fs-400);
        }

        .container-feedback {
            margin: 3rem 0;

            img {
                width: 80px;
                border-radius: 50%;
                margin: 1.5em 0;
            }

            &>p {
                color: var(--clr-neutral-600);
                font-size: var(--fs-400);
                line-height: 1.5;
            }

            .info {
                margin: 2em 0;

                h3 {
                    font-size: var(--fs-500);
                }

                p {
                    color: var(--clr-neutral-400);
                    margin-top: .5em;
                }
            }
        }
    }

    footer {
        background-color: var(--clr-primary-450);

        .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-auto-rows: 1fr;
            grid-auto-columns: 1fr;

            img {
                object-fit: cover;
                object-position: center;
            }
        }

        .footer-sub {
            padding: var(--p2);
            text-align: center;
            color: var(--clr-primary-500);

            h2 {
                font-family: 'Barlow', sans-serif;
                font-size: var(--fs-700);
            }

            .nav {
                display: flex;
                width: 100%;
                max-width: 450px;
                justify-content: space-between;
                align-items: center;
                margin: 2em auto;
                list-style: none;

                a {
                    color: var(--clr-primary-500);
                    text-decoration: none;
                    font-size: var(--fs-400);
                    transition: color .2s ease;

                    &:hover {
                        color: var(--clr-neutral-100);
                    }
                }
            }

            .social-links {
                list-style: none;
                max-width: 150px;
                display: flex;
                justify-content: space-between;
                margin: 3rem auto 0;
                align-items: center;

                a {
                    svg {
                        fill: var(--clr-primary-500);
                        transition: fill .2s ease;
                    }

                    &:hover svg {
                        fill: var(--clr-neutral-100);
                    }
                }
            }
        }

        .attribution {
            text-align: center;
            font-size: var(--fs-300);
            color: var(--clr-primary-500);
            padding-bottom: 5px;

            a {
                color: var(--clr-neutral-600);
            }
        }
    }
}

@media (min-width: 550px) {
    :root {
        --p2: 3.5rem;
        --bg-size: 90vh;
        --img-height: 350px;
    }
}

@media (min-width: 770px) {
    :root {
        --img-height: 100%;
        --bg-size: 90vh;
        --fs-600: 2.5rem;
        --p3: 350px 1.5rem 2.5rem;
    }

    body {
        main {

            br {
                display: none;
            }

            .hero {
                .head {
                    button {
                        display: none;
                    }

                    nav, nav.shown {
                        padding: 0;
                        position: static;
                        opacity: 1;
                        pointer-events: all;
                        transform: unset;
                        background: transparent;

                        ul {
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;

                            li {
                                margin: 0 .7125rem;

                                a {
                                    color: var(--clr-neutral-100);
                                    font-size: var(--fs-400);
                                    transition: color .2s ease;

                                    &:hover {
                                        color: var(--clr-neutral-600)
                                    }
                                }

                                .contact {
                                    color: var(--clr-neutral-800);
                                    background-color: var(--clr-neutral-100);
                                    font-size: var(--fs-300);
                                    padding: .5em 1.5em;
                                    transition: background-color .2s ease,
                                            color .2s ease;

                                    &:hover {
                                        background-color: var(--hover-contact);
                                        color: var(--clr-neutral-100);
                                    }
                                }
                            }
                        }

                        &::before {
                            display: none;
                        }
                    }
                }
            }

            .about {
                .container-about {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-auto-columns: 1fr;

                    &>* {
                        max-height: 500px;
                    }
            
                    .text {
                        max-width: 600px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: start;
                    }
            
                    &:first-child {
            
                        .img {
                            order: 5;
                        }
                    }
                }
            }

            .work {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-auto-columns: 1fr;

                .container-work {
                    p {
                        max-width: 400px;
                        margin: auto;
                    }
                }
            }

            .feedback {
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                h2 {
                    grid-column: 1/span 3;
                }

                .container-feedback {
                    display: grid;
                    justify-items: center;
                    margin-left: 1em;
                    margin-right: 1em;

                    p {
                        max-width: 400px;
                    }
                    .info {
                        align-self: end;
                    }
                }
            }
        }

        footer {
            .grid-container {
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 1fr;
            }
        }
    }
}